.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.product-container {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}

.btn-proceed {
  background-color: #ff9900;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
  border-radius: 4px;
  color: white;
  font-size: 21px;
  text-align: center;
  align-items: center;
}
